# Compilados de .NET
bin/
obj/

# Node
node_modules/

# Archivos de Visual Studio
.vs/
*.user
*.suo
*.env

# Configuración local (opcional, si tiene secretos)
appsettings.Development.json